<%= javascript_pack_tag 'login.js', 'data-turbolinks-track': 'reload' %>

<div class="card login-card text-center" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">HP</h5>
    <h6 class="card-subtitle mb-2 text-muted">MicroManage</h6>
    <h6 class="mt-2" id="login-error">Invalid username or password</h6>
      <form class="form text-center" action="javascript:void(0);">
        <div class="form-group mx-sm-3 mb-2">
          <label for="username" class="sr-only">Username</label>
          <input type="text" class="form-control mt-3 mb-3" id="username" placeholder="Username">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="password" class="sr-only">Password</label>
          <input type="password" class="form-control mb-3" id="password" placeholder="Password">
        </div>
        <button id="login-button" class="btn btn-primary">Log In</button>
      </form>
  </div>
</div>
