<div class="service-tile-container">
    <form>
        <div class="form-group">
            <label for="exampleInputPassword1"><%=name%></label>
            <input class="form-control" id="Input<%=name%>" value="<%=value%>">
        </div>
    </form>
</div>
