<div class="foot-wraper">
<footer class=" mdc-top-app-bar mdc-top-app-bar--prominent mdc-top-app-bar--dense">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
    </section>
  </div>
</footer>
</div>
