<div class="service-tile">
    <div class="service-tile-container">
        <h4 class="service-tile-title"><b><%=name%></b></h4>
        <h4 style:"color: red">Changes: <%=changes%> </h4>
    </div>
</div>
