<div class="card bg-light mb-3" style="max-width: 18rem;">
<%= link_to "microservices/"+id.to_s+"/tables", class: "service-tile", style: "color: #000000", :action => 'go' do%>
    <div class="card-header">
        <% microservice = []%>
        <% name.split(/\s|'|,|_/).each {|n| microservice.push(n.capitalize())} %>
      <b><%= microservice.join(" ") %></b>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%=changes%></li>
    </ul>
<% end %>
</div>

