<h1 class="service-title">Microservices</h1>
<div class="tile-container">
    <div class="container">
      <div class="row justify-content-center">
        <% @microservices.each do |service|%>
        <div class="col-sm-3 mb-4">
          <%= render "microservice_tile",
                     name: service.name,
                     changes: RowEntry.joins(:modifications).where(microservice_id: service.id).count,
                     id: service.id%>
        </div>
        <%end%>
      </div>
    </div>
</div>
