<div class="service-tile-container">
    <div class="form-group">
        <label for="exampleInputPassword1"><%=name%></label>
        <%= form.text_field :"#{name}", value:value, class:"form-control" %>
    </div>
</div>
