<% tableTitle = []%>
<% @tname.split(/\s|'|,|_/).each {|n| tableTitle.push(n.capitalize())} %>
<h1 class="service-title"><%= tableTitle.join(" ") %></h1>
<div class="microserviceTable">
    <% unless @records[0].nil? %>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                <% @records[0].keys.each do |key| %>
                    <th scope="col"><%= key %></th>
                <% end %>
                <th scope="col">edit</th>
                </tr>
            </thead>
            <tbody>
            <% @records.each do |tuple| %>
                <tr>
                <% tuple.keys.each do |attr| %>
                    <td><%= tuple[attr] %></td>
                <% end %>
                <td><%= link_to "/changes/"+(@service.id).to_s+"/"+@tname+"/"+(tuple["id"]).to_s,:controller=>"changes",:id => (@service.id).to_s, :table => @tname, action: "show", :rowid =>(tuple["id"]).to_s%></td>
                </tr>
            <% end %>
            </tr>
        </thead>
        </tbody>
    </table>
<% end %>

