$mdc-theme-primary: #bb86fc;
$mdc-theme-secondary: #03dac6;
$mdc-theme-background: #121212;
$mdc-theme-surface: #434343;
$mdc-theme-on-primary: #000000;
$mdc-theme-on-secondary: #000000;
$mdc-theme-on-surface: #ffffff;
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";

@import "@material/checkbox/mdc-checkbox"; // Required only for data table with row selection.
@import "@material/data-table/mdc-data-table";

/*Reqired for the menus on the admin_panel page*/
@import "@material/select/mdc-select";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

/*Radio Buttons*/
@import "@material/form-field/mdc-form-field";
@import "@material/radio/mdc-radio";
/*End of menu styles*/

#login-container {
    display: flex;
    justify-content: center;
}

#login-card {
    width: 350px;
}

#login-content {
    margin: auto 0;
    padding: 16px;
}

#login-content h1 {
    margin-top: 0;
}

#username-field, #password-field {
    margin-bottom: 20px;
    width: 100%;
}


container {
	justify-content: center;

}

body {
     background-color: $mdc-theme-background;
     color: #ffffff;
}
