<h1 class="service-title">Recent Transactions</h1>
<div class="title-container"> 
  <div class="container">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
	  <th scope="col">Transaction Change List</th>
	</tr>
      </thead>
      <tbody>
	  <tr>
	    <td>Change Id List (user_id): <% @transaction.each do |show|%> <%=show.user_id%> <%end%> </td>
	  </tr>
      </tbody>
    </table> 
  </div>
</div>
