<h1 class="service-title">Recent Transactions</h1>
<div class="title-container"> 
  <div class="container">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
	  <th scope="col">Transaction Number</th>
	  <th scope="col">Change Ids</th>
	  <th scope="col"></th>
	  <th scope="col"></th>
	</tr>
      </thead>
      <tbody>
	    <%counter = 0%>  
            <%if @list!=nil %>
              <%@list.each do |displayTransactionId|%>  
	        <tr>
		  <td><%=displayTransactionId.id%></td>
		  <td><%@result.each do |display|%> <%if display.transaction_id == displayTransactionId.id%> <%=display.change_id%> <%end%> <%counter = counter + 1%> <%end%> </td>
		  <td>
			  <%= button_to "View Changes",
                                  "/transaction/show",
                                  method: :get,
                                  class: "btn btn-primary",
                                  params: {id: displayTransactionId} %>
		  </td>
		  <td>
		     <%= button_to "Submit  Transaction",
                                  "/transaction/destroy",
                                  method: :get,
                                  class: "btn btn-primary",
                                  params: {id: displayTransactionId} %>
	          </td>
                </tr>
	      <%end%>
            <%end%>
      </tbody>
    </table> 
  </div>
</div>
